@model Web.Models.ViewModels.IndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}

@section Header
{
    <meta property="og:type"        content="website" />
    <meta property="og:url"         content="https://www.anteccq.net/" />
    <meta name="description" content="Anteccq Web Site">
    <meta property="og:title"       content="Anteccq - KOTONOHA">
    <meta property="og:description" content="Home" />

    <link href="~/css/scoped/home.css" rel="stylesheet" />
}

<div class="blog-list">
@foreach (var summary in Model.Summaries)
{
    <div class="blog-item">
        <h1><a class="blog-link" href="blog/@summary.Name">@summary.Title</a></h1>
        <p class="tags">@string.Join(", ", summary.Tags)</p>
        <div class="blog-timestamp">
            <time datetime="@summary.CreatedAt.ToString("yyyy-MM-dd")">投稿日: @summary.CreatedAt.ToString("yyyy/MM/dd")</time>
            <time datetime="@summary.UpdatedAt.ToString("yyyy-MM-dd")">更新日: @summary.UpdatedAt.ToString("yyyy/MM/dd")</time>
        </div>
    </div>
}
</div>