@model Web.Models.Data.Blogs.Blog;

@section Header{
    <meta property="og:type"        content="article" />
    <meta name="twitter:card"       content="@Html.Raw(Model.Title)" />
    <meta property="og:url"         content="https://www.anteccq.net/blog/@Model.Id.ToString()" />
    <meta name="description" content="@Html.Raw(Model.SummaryContent)">
    <meta property="og:title"       content="@Html.Raw(Model.Title)">
    <meta property="og:description" content="@Html.Raw(Model.SummaryContent)" />

    <link href="~/css/prism.css" rel="stylesheet" />
    <link href="~/css/scoped/blog.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = @Model.Title;
}

<div class="blog-content">
    <h1 class="blog-title">@Model.Title</h1>
    <p class="blog-tag">@string.Join(", ", Model.Tags)</p>
    <div class="blog-timestamp">
        <time datetime="@Model.CreatedAt.ToString("yyyy-MM-dd")">投稿日: @Model.CreatedAt.ToString("yyyy/MM/dd")</time>
        <time datetime="@Model.UpdatedAt.ToString("yyyy-MM-dd")">更新日: @Model.UpdatedAt.ToString("yyyy/MM/dd")</time>
    </div>
    @Html.Raw(Model.RenderedContent)
</div>

@section Scripts
{
    <script src="~/js/prism.js"></script>
}